body {
  color: white;
  background: #3d3d3d;
}
#div_letters {
  width: 520px;
  display: grid;
  grid-template-columns: repeat(13, 40px);
}
.letter {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
#word{
    font-size: 50px;
}